<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Data.Structure.Properties.Settings.TeacherAideConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=TeacherAide;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>